<html lang="en">
<head>
  <title>Test API Page</title>
</head>
<body>
  <div class="container">
      <h4>Item</h4>
      <form method="POST" action="/create-item">
        <div class="form-group">
          <label for="item-input-field">add</label>
          <input type="text" name="item" class="form-control" id="item-input-field"  placeholder="Add to-do-list" required>
        </div>
        <button type="submit" class="btn btn-primary">add</button>
      </form>
    </div>
</body>
</html>