body {
  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-image: url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-block {
  height: 250px;
  width: 350px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: x-large;
  background-color:#333a40;
  color: #FCBF49;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 25px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.fas {
  margin-right: 5px;
}
.far {
  margin-right: 5px;
}
header {
  width: 100%;
  position: fixed;
}