* {box-sizing: border-box;}

.modal-header {
  color: #333a40; 
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  height: 47px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background:#FCBF49;
  color: #333a40;
  min-width: 50px;
  text-align: center;
  font-size: x-large;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: large;
  font-weight: 600;
}

.input-field:focus {
  border: 2px solid #333a40;
}

/* Set a style for the submit button */
.btn {
  background-color: #FCBF49;
  color:#333a40;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  align-items: center;
}

.btn:hover {
  opacity: 1;
}