// .navbar-brand {
//   font-family: 'Oswald', sans-serif;
//   font-weight: 600;
// }

.navbar {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #FCBF49;
  font-size: xx-large;
}

.navbar-brand {
  font-size: xx-large;
}

.update {
  float: right;
}