// .navbar-brand {
//   font-family: 'Oswald', sans-serif;
//   font-weight: 600;
// }

.navbar {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #FCBF49;
  font-size: xx-large !important; 
}

.navbar-brand {
  font-size: xx-large !important;
}

.update {
  float: right;
  margin: 10px;
}

.add-task {
  float: right;
  margin: 10px;
}

.logout {
  float: right;
  margin: 10px;
}