body {
  background-color: #d6cac4;
  height: 100vh;
  width: 100vw;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

#myLists {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 50px;
  align-items: baseline;

} 

article {
    width: 22%;
    height: 500px;
    position: relative;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    background-color:#bdb5ae;

   header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: coral;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
} 
}


