body {
  background-color:#ddd7d5;
  height: 100vh;
  width: 100vw;
}

.search-form {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

#myLists {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 50px;
  align-items: baseline;
  flex-wrap: wrap;
} 

article {
    width: 22%;
    height: 500px;
    position: relative;
    flex-wrap: wrap;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    background-color:#bdb5ae;
    min-width: 205px;
    margin-bottom: 25px;


   header {
  padding-top: 10px;
  padding-bottom: 10px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
} 
}


